<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Selamat Datang <%= title %></p>
    <h3><a href="/employees/">Employee Section</a></h3>
  </body>
</html>
